header {
  font-size: 5em !important;
  margin-bottom: 0 !important;
  align-content: center;
}
.button-sunflower{
  justify-content: right !important;
}
.landing-image {
  background-image: url("../../../dist/d393781af4753fd6d5adc67371f7f441.jpg") !important;
  background-size: cover !important;
  /* background-size: calc(100%-10px) calc(100%-20px); */

  justify-content: right !important;
  /* margin-left: 30% !important; */
}
.small {
  font-family: "Libre Baskerville" !important;
  font-size: 2em !important;
}
.big {
  font-family: "Raleway", sans-serif !important;
}
p {
  font-size: "1.33em" !important;
}
#passionTitle{
  font-size: 3em !important;
}