header {
  font-size: 5em !important;
  margin-bottom: 0 !important;
  margin-top: 3em !important;
}
.landing-image {
  background-image: url("../../../dist/img/gene-devine-YwjY-8Ivag4-unsplash.jpg") !important;
  background-size: cover !important;
  min-height: 100vh;
}
.small {
  font-family: "Libre Baskerville" !important;
  font-size: 0.5em !important;
}
.big {
  font-family: "Vollkorn", serif !important;
}
