.header {
  font-size: "4em" !important;
  font-weight: "normal" !important;
  margin-bottom: "2em 0em" !important;
  margin-top: "2em 0em" !important;
  display: "inline" !important;
}
#sunflower {
  padding-top: "2em 0em" !important;
  max-height: "0.5em" !important;
}
